<div class="md:grid md:grid-cols-4 md:gap-6">

  <div class="md:col-span-3 table-list scrollbar scrollbar-thin overflow-y-auto">

    <input class="min-w-full p-2 my-1 rounded outline-none" type="text" name="" id="" placeholder="Rechercher">

    <table class="min-w-full">

      <thead class="bg-white border-b">
        <tr>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            #ID
          </th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            Nom
          </th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            Responsabilite
          </th>
          <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
            Email
          </th>
        </tr>
      </thead>



      <tbody>
        <tr *ngFor="let user of users"
          class="bg-white border-b transition duration-300 ease-in-out click:bg-gray-400 hover:bg-gray-100">

          <button title="btn1" (click)="onViewUser(user)">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
              {{ user._id }}
            </td>
          </button>

          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            <button title="btn1">
              {{ user.name }}
            </button>
          </td>

          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            <button title="btn1">
              {{ user.email }}
            </button>
          </td>

          <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
            <button title="btn1">
              {{ user.email }}
            </button>
          </td>

        </tr>

      </tbody>

    </table>



  </div>


  <div
    class="md:col-span-1 hidden lg:block dark:border-gray-700 border-t lg:border-t-0 lg:border-r lg:border-l lg:rounded-r dark:bg-gray-700 bg-gray-100">

    <app-resume [user]="currentUser"></app-resume>
    <!-- <router-outlet></router-outlet> -->
  </div>


</div>