<div class="sm:pt-8 h-screen"
    style="background:url('https://i.ibb.co/KjrPCyW/map.png');">

    <div class="sm:flex items-start justify-between gap-4 pointer">
        <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
            <p class="text-3xl font-semibold text-gray-800">{{ stats.coursesCount }}</p>
            <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Total des Formations</p>
        </div>
        <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
            <p class="text-3xl font-semibold text-gray-800">{{ stats.doctorantCount }}</p>
            <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Nombre des doctorants en cours</p>
        </div>
        <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
            <p class="text-3xl font-semibold text-gray-800">{{ stats.profCount }}</p>
            <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Nombre des Professeurs</p>
        </div>
        <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
            <p class="text-3xl font-semibold text-gray-800">{{ stats.staffCount }}</p>
            <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Nombres des personnels administartifs</p>
        </div>
    </div>

    <div class="sm:pt-8 w-full sm:flex items-start justify-start gap-4 pointer">
        <div class="shadow-lg xl:p-8 p-6 sm:w-full w-full bg-white ">
            <p class="text-3xl font-semibold text-gray-800">{{ stats.staffCount }}</p>
            <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Nombres des personnels administartifs</p>
        </div>
    </div>


    <div class="sm:pt-8 sm:flex items-start justify-start gap-4 pointer">
      <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
          <p class="text-3xl font-semibold text-gray-800">{{ statsMessages.fileCount }}</p>
          <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Total des fichiers</p>
      </div>
      <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
          <p class="text-3xl font-semibold text-gray-800">{{ statsMessages.doctorantMessages }}</p>
          <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Total de message des doctorants</p>
      </div>
      <div class="shadow-lg xl:p-8 p-6 sm:w-auto w-full bg-white ">
          <p class="text-3xl font-semibold text-gray-800">{{ statsMessages.adminMessages }}</p>
          <p class="text-xl leading-4 xl:mt-4 mt-2 text-gray-600">Nombres des messages des administartifs</p>
      </div>
  </div>
</div>
