
<div class="md:pt-8 pt-4 relative sm:flex items-center justify-center">
  <img src="https://i.ibb.co/KjrPCyW/map.png" alt="world map image" class="w-full xl:h-full h-96 object-cover object-fill sm:block hidden" />
  <img src="https://i.ibb.co/SXKj9Mf/map-bg.png" alt="mobile-image" class="sm:hidden -mt-10 block w-full h-96 object-cover object-fill absolute z-0" />

  <div class="shadow-lg xl:p-6 p-4 sm:w-auto w-full bg-white sm:absolute relative z-20 sm:mt-0 mt-4 left-0 xl:ml-56 sm:ml-12 xl:-mt-40 sm:-mt-12">
      <p class="text-3xl font-semibold text-gray-800">{{ stats.coursesCount }}</p>
      <p class="text-base leading-4 xl:mt-4 mt-2 text-gray-600">Total des Formations</p>
  </div>
  <div class="shadow-lg xl:p-6 p-4 w-48 sm:w-auto w-full bg-white sm:absolute relative z-20 sm:mt-0 mt-4 xl:mt-100 sm:mt-56 xl:-ml-0 sm:-ml-12">
      <p class="text-3xl font-semibold text-gray-800">{{ stats.doctorantCount }}</p>
      <p class="text-base leading-4 xl:mt-4 mt-2 text-gray-600">Nombre des doctorants en cours</p>
  </div>
  <div class="shadow-lg xl:p-6 p-4 sm:w-auto w-full bg-white sm:absolute relative z-20 md:mt-0 sm:-mt-5 mt-4 right-0 xl:mr-56 sm:mr-24">
      <p class="text-3xl font-semibold text-gray-800">{{ stats.profCount }}</p>
      <p class="text-base leading-4 xl:mt-4 mt-2 text-gray-600">Nombre des Professeurs</p>
  </div>
  <div class="shadow-lg xl:p-6 p-4 sm:w-auto w-full bg-white sm:absolute relative z-20 sm:mt-0 top-0 mt-24 xl:mt-12 sm:-mt-5 mt-8 xl:mr-42 sm:mr-12">
    <p class="text-3xl font-semibold text-gray-800">{{ stats.staffCount }}</p>
    <p class="text-base leading-4 xl:mt-4 mt-2 text-gray-600">Nombres des personnels administartifs</p>
</div>
</div>
