<!-- <section class="courses px-20" >
  <h2 class="text-4xl"> Les Formations </h2>
  <h1>
    Vous savez l'existence de votre opportunitee ?
    pas de panique ceci en est une .
  </h1>
</section> -->











<section class="bg-white dark:bg-gray-900 md:mx-20 sm:mx-10 py-4 mt-4">
  <div class="lg:px-0">
      <div role="contentinfo" class="flex items-center flex-col">
          <!-- <p tabindex="0" class="focus:outline-none uppercase text-sm text-center text-gray-500 dark:text-gray-200 leading-none">Les Formations</p> -->
          <h1 tabindex="0" class="focus:outline-none py-2 text-4xl lg:text-4xl font-extrabold text-center leading-tight text-gray-800 dark:text-white lg:w-7/12 md:w-9/12 xl:w-5/12">Les Formations</h1>
      </div>
  </div>
</section>
<section id="courses" class="py-12 mt-12 mx-20 mb-2">
  <div tabindex="0" aria-label="group of cards" class="focus:outline-none px-4 lg:px-0">
      <div class="mx-auto container flex flex-wrap px-2 lg:px-24">
          <div *ngFor="let course of courses" tabindex="0" aria-label="card 1" class="focus:outline-none flex sm:w-full md:w-1/2 pb-10 lg:pt-10">
              <div class=" flex flex-shrink-0 items-center mr-5 text-white">
                  <img class="w-40" src="{{ course.image }}" alt="drawer">
                  <!-- <div>
                    <i class="fa-solid fa-dove"></i>
                  </div> -->
              </div>
              <div class="md:w-9/12 lg:w-9/12">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{course.title}}</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    {{course.description}}
                  </p>
              </div>
          </div>

      </div>
  </div>
</section>















<app-footer></app-footer>
