<!-- <section class="courses px-20" >
  <h2 class="text-4xl"> Les Formations </h2>
  <h1>
    Vous savez l'existence de votre opportunitee ?
    pas de panique ceci en est une .
  </h1>
</section> -->











<section class="bg-white dark:bg-gray-900 md:mx-20 sm:mx-10 py-4 mt-4">
  <div class="lg:px-0">
      <div role="contentinfo" class="flex items-center flex-col">
          <!-- <p tabindex="0" class="focus:outline-none uppercase text-sm text-center text-gray-500 dark:text-gray-200 leading-none">Les Formations</p> -->
          <h1 tabindex="0" class="focus:outline-none py-2 text-4xl lg:text-4xl font-extrabold text-center leading-tight text-gray-800 dark:text-white lg:w-7/12 md:w-9/12 xl:w-5/12">Les Formations</h1>
      </div>
  </div>
</section>
<section id="courses" class="py-12 mt-12 mx-20 mb-2">
  <div tabindex="0" aria-label="group of cards" class="focus:outline-none px-4 lg:px-0">
      <div class="mx-auto container flex flex-wrap px-2 lg:px-24">
          <div *ngFor="let course of courses" tabindex="0" aria-label="card 1" class="focus:outline-none flex sm:w-full md:w-1/2 pb-10 lg:pt-10">
              <div class=" flex flex-shrink-0 items-center mr-5 text-white">
                  <!-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg1.svg" alt="drawer"> -->
                  <div>
                    <i class="fa-solid fa-dove"></i>
                  </div>
              </div>
              <div class="md:w-9/12 lg:w-9/12">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">{{course.title}}</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    {{course.description}}
                  </p>
              </div>
          </div>
          <!-- <div tabindex="0" aria-label="card 2" class="focus:outline-none flex sm:w-full md:w-1/2 lg:pb-10 lg:pt-10">
              <div class=" flex flex-shrink-0 items-center sm:ml-0 md:ml-10 lg:ml-10 mr-5 text-white">
                 !-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg2.svg" alt="check"> --
                 <div>
                    <i class="fa-solid fa-file-shield"></i>
                 </div>
              </div>
              <div class="md:w-9/12 lg:w-9/12 ">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">Promotion et Prevention de la Santé</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    Le but est d’améliorer l’état de santé de la population en évitant l’apparition, le développement ou l’aggravation des maladies ou accidents et en favorisant les comportements individuels et collectifs pouvant contribuer à réduire le risque de maladie et d’accident.
                  </p>
              </div>
          </div>
          <div tabindex="0" aria-label="card 3" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0 lg:border-r md:border-r sm:border-r-0 border-indigo-400 pt-10 lg:pb-20">
              <div class=" flex flex-shrink-0 items-center mr-5 text-white">
                !-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg3.svg" alt="html-tag"> --

                <i class="fa-solid fa-dna"></i>
              </div>
              <div class="md:w-9/12 lg:w-9/12 ">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">Epidemiologie et Biologie Medicale</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    La biologie médicale est une discipline consistant à réaliser des examens de liquides biologiques (sang, urine, liquide céphalo-rachidien…) en vue d’établir le diagnostic d’une maladie. Elle a un fonctionnement essentiel dans le suivi et la surveillance d’un traitement.
                  </p>
              </div>
          </div>
          <div tabindex="0" aria-label="card 4" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0 border-indigo-400 pt-10 lg:pb-20">
              <div class=" flex flex-shrink-0 items-center sm:ml-0 md:ml-10 lg:ml-10 mr-5 text-white">
                 !-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg4.svg" alt="display"> --
                 <i class="fa-solid fa-book-open-reader"></i>
              </div>
              <div class="md:w-9/12 lg:w-9/12 ">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">Recherche Clinique</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    Correspond aux études scientifiques réalisées sur la personne humaine, en vue du développement des connaissances biologiques ou médicales. Il s’agit de recherches prospectives, qui impliquent le suivi de patients ou de volontaires sains. Pour mieux comprendre les maladies, mieux les traiter, et pour identifier les facteurs de risque potentiels.
                  </p>
              </div>
          </div>
          <div tabindex="0" aria-label="card 5" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0 lg:border-r md:border-r sm:border-r-0 border-indigo-400 pt-10 lg:pb-20">
              <div class=" flex flex-shrink-0 items-center mr-5 text-white">
                 !-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg4.svg" alt="display"> --
                 <i class="fa-solid fa-hands-holding-child"></i>
              </div>
              <div class="md:w-9/12 lg:w-9/12 ">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">Santé de la Mere et de L'Enfant</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    Le Programme National de Santé de la Mère et de l'Enfant a pour mission de contribuer à la réduction de la morbidité et de la mortalité maternelle et infanto-juvénile par la promotion des interventions à la Santé de la Reproduction y compris la Planification Familiale, la Survie et le Développement de l'Enfant .
                  </p>
              </div>
          </div>
          <div tabindex="0" aria-label="card 6" class="focus:outline-none flex sm:w-full md:w-1/2 lg:border-t md:border-t sm:border-t-0  border-indigo-400 pt-10 lg:pb-20">
              <div class=" flex flex-shrink-0 items-center sm:ml-0 md:ml-10 lg:ml-10 mr-5 text-white">
                 !-- <img src="https://tuk-cdn.s3.amazonaws.com/can-uploader/indigo_bg_with_divider-svg4.svg" alt="display"> --
                 <i class="fa-solid fa-heart-pulse w-18"></i>
              </div>
              <div class="md:w-9/12 lg:w-9/12 ">
                  <h2 tabindex="0" class="focus:outline-none text-lg font-semibold leading-5 text-white">Science Biologie des Vivants</h2>
                  <p tabindex="0" class="focus:outline-none text-base text-white leading-normal xl:w-10/12 pt-2">
                    Ce Département forme des étudiants dans tous les domaines de la Biologie, de ses bases moléculaires et structurales au fonctionnement du Vivant, du niveau cellulaire jusqu’au niveau de l’organisme entier en relation avec son environnement.
                  </p>
              </div>
          </div> -->
      </div>
  </div>
</section>















<app-footer></app-footer>
