<h1 class="text-2xl font-semibold py-4">Page de modification de vos informations</h1>
<p class="w-2/3 py-2">
  Certaines informations ne seront pas modifiables par vous meme, contacter l'administration pour les modifier, Merci.
</p>
<!-- ligne de separation -->
<div class="hidden sm:block" aria-hidden="true">
  <div class="py-5">
    <div class="border-t border-gray-200"></div>
  </div>
</div>

<form
name="form"
#f="ngForm"
(ngSubmit)="isUpdate ? onUpdateProfil(informationForm) : onSubmitprofilForm(informationForm)" [formGroup]="informationForm">
  <!-- debut blpock 2-->
  <div class="mt-10 sm:mt-0" id="form-creation">
    <div class="md:grid md:grid-cols-4 md:gap-6">
      <!-- <div class="md:col-span-1">
      <div class="px-4 sm:px-0">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
        <p class="mt-1 text-sm text-gray-600">Use a permanent address where you can receive mail.</p>
      </div>
    </div> -->
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="name" class="block text-sm font-medium text-gray-700">Nom</label>
                <input [(ngModel)]="userSignUp.name" #name type="text" name="name" formControlName="name" id="name"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  autocomplete="off" required [readonly]="true">
                  <!-- <div class="form_error text-red-400 text-xs animate-pulse" *ngIf="name['required']! && f.submitted">
                    "Ce champ est requis"
                  </div> -->
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700">Prenom</label>
                <input type="text" name="first-name" id="first-name" formControlName="firstName"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  autocomplete="off" required [readonly]="true">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="nationality" class="block text-sm font-medium text-gray-700">Nationalité</label>
                <select id="nationality" ng-disabled="all" name="nationality" formControlName="nationality" autocomplete="country-name"
                  required ng-disabled="true"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option disabled value="Madagascar">Malgache</option>
                  <option disabled value="Comore">Comorien</option>
                  <option disabled value="France">Français</option>
                </select>
              </div>


              <div class="col-span-6 sm:col-span-3">
                <label for="sexe" class="block text-sm font-medium text-gray-700">Sexe</label>
                <select title="sexeOptions" id="sexe" name="sexe" formControlName="gender" autocomplete="country-name"
                  required
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option disabled value="masculin">Masculin</option>
                  <option disabled value="feminin">Feminin</option>
                  <option disabled value="binaire">Binaire</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="dtn" class="block text-sm font-medium text-gray-700">Date de naissance</label>
                <input title="dtn" type="date" name="dtn" formControlName="dateOfBirth" id="dtn" autocomplete="off"
                  required [readonly]="true"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="dtbacc" class="block text-sm font-medium text-gray-700">Obtention Bacc</label>
                <input title="dtbacc" id="dtbacc" type="number" min="1900" max="2022" step="1" value="2016" required
                  formControlName="yearBacc" [readonly]="true"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6">
                <label for="address" class="block text-sm font-medium text-gray-700">Adresse</label>
                <input type="text" name="adress" formControlName="adress" id="address" autocomplete="off" required
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="mdp" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                <input  [(ngModel)]="userSignUp.password" #password title="password" type="text" name="dtn" formControlName="password" id="mdp" autocomplete="off"
                  required
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <!-- <div class="form_error text-red-400 text-xs animate-pulse" *ngIf="password['required']! && f.submitted">
                    "Ce champ est requis"
                  </div> -->
                </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="cmdp" class="block text-sm font-medium text-gray-700">Confirmation mot de passe</label>
                <input  [(ngModel)]="userSignUp.passwordconfirm" #passwordconfirm title="passwordconfirm" id="cmdp" type="text" required formControlName="passwordConfirmation"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <!-- <div class="form_error text-red-400 text-xs animate-pulse" *ngIf="passwordconfirm['required']! && f.submitted">
                    "Ce champ est requis"
                  </div> -->
                </div>

              <div class="col-span-6">
                <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
                <input  [(ngModel)]="userSignUp.email" #email type="email" name="email" formControlName="email" id="email" required
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  <!-- <div class="form_error text-red-400 text-xs animate-pulse" *ngIf="email['required']! && f.submitted">
                    "Ce champ est requis"
                  </div> -->
                </div>

              <div class="col-span-6">
                <label for="cin" class="block text-sm font-medium text-gray-700">CIN</label>
                <input type="text" name="cin" id="cin" pattern="[0-9]{11}" formControlName="cin" autocomplete="off"
                  required
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  required>
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="role" class="block text-sm font-medium text-gray-700">Status</label>
                <select title="role" id="role" name="role" formControlName="role" required ng-disabled="all"
                   class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option disabled  value="doctorant">Docorant</option>
                  <option disabled value="prof">Prof</option>
                  <option disabled value="admin">Admin</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="serieBacc" class="block text-sm font-medium text-gray-700">Serie BACC</label>
                <select title="serieBacc" id="serieBacc" name="serieBAcc" formControlName="serieBacc" autocomplete="off"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option disabled value="C">C</option>
                  <option disabled value="C">D</option>
                  <option disabled value="C">A</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="codeRedoublement" class="block text-sm font-medium text-gray-700">Code de
                  Redoublement</label>
                <select title="codeRedoublement" id="codeRedoublement" name="codeRedoublement" required
                  formControlName="codeDoubling" autocomplete="off"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option>Nouveau</option>
                  <option>Ancien</option>
                </select>
              </div>
              <!-- (click)="onSubmitprofilForm()"  -->
            </div>
          </div>
        </div>
      </div>


      <div class="md:col-span-2">
        <div class="px-4 sm:px-0" *ngIf="informationPreview$ | async as info">

          <div class="text-center w-32 mx-auto">
            <img src="./assets/profils/default_profil_{{info.gender === 'feminin' ? 'female' : 'male' }}.jpg"
              class="rounded-full w-32" alt="Avatar" />
          </div>

          <div class="py-4 space-y-2 font-medium text-gray-600 text-center">
            <h1 class="text-2xl">{{ info.name +" "+ info.firstName}} </h1>
            <span class="text-xs inline-block py-1 px-2.5 leading-none
              text-center whitespace-nowrap align-baseline font-bold
              {{ info.role === 'doctorant' ? 'bg-green-500' : ( info.role === 'prof' ? 'bg-blue-600' :  'bg-purple-600')  }}
              text-white rounded-full">
              {{ info.role === 'doctorant' ? 'Doctorant' : ( info.role === 'prof' ? 'Professeur' : 'Administrateur') }}
            </span>
          </div>
          <div class="px-8 font-medium text-gray-600 grid gap-4 grid-cols-1">
            <div class="space-y-2">
              <p>Nationalite : {{ info.nationality }} , Genre : {{ info.gender }}</p>
            </div>
            <div class="space-y-2">
              <p>Date de naissance : {{ info.dateOfBirth }} </p>
            </div>
            <div class="space-y-2">
              <p>Date d'Obtention Baccalaureat : {{ info.yearBacc }} Serie {{ info.serieBacc }} </p>
            </div>
            <div class="space-y-2">
              <p>Adresse : {{ info.adress }} </p>
            </div>


            <div class="space-y-2">
              <hr>
            </div>
            <p>Numero CIN : {{ info.cin }} Code Redoublement {{ info.codeDoubling }} </p>

            <!-- <p>Photo de profil</p> -->
            <!-- <img [src]="contact." [alt]="contact.name"> -->
            <p>{{ info.email }}</p>

            <!-- <p *ngIf="info.city">Adresse : {{ info.city }}</p> -->
          </div>

        </div>
      </div>


    </div>
  </div>
  <!-- debut blpock 2-->



  <!-- ligne de separation -->
  <div class="hidden sm:block" aria-hidden="true">
    <div class="py-5">
      <div class="border-t border-gray-200"></div>
    </div>
  </div>

  <!-- debut blpock 1 -->
  <div id="contact-form">
    <div class="md:grid md:grid-cols-4 md:gap-6">
      <div class="mt-5 md:mt-0 md:col-span-2">
        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">

            <div class="grid grid-cols-6 gap-6">

              <div class="col-span-6 sm:col-span-6">
                <label for="telephone" class="block text-sm font-medium text-gray-700">Telephone</label>
                <input type="tel" name="telephone" id="telephone" autocomplete="off" formControlName="telephone"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="isBoursier" class="block text-sm font-medium text-gray-700">Boursier</label>
                <select title="isBoursier" id="isBoursier" name="isBoursier" autocomplete="off"
                  formControlName="isBoursier" ng-disabled="all"
                  class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option disabled value="true">Boursier</option>
                  <option disabled value="false">Non Boursier</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="taux" class="block text-sm font-medium text-gray-700">Taux de Bourse</label>
                <input title="tauxBourse" id="taux" type="number" min="1" max="100" step="1" name="tauxBourse"
                  formControlName="tauxBourse" id="tauxBourse" autocomplete="off" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  required [readonly]="true">
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-3">
                <label for="poste" class="block text-sm font-medium text-gray-700">Poste actuelle</label>
                <input title="poste" type="text" id="poste" name="poste" formControlName="poste" id="poste" autocomplete="off"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  required>
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-3">
                <label for="taux" class="block text-sm font-medium text-gray-700">IM</label>
                <input title="im" id="im" type="text" name="im" formControlName="im" id="im" autocomplete="off" [readonly]="true"
                  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md"
                  required>
              </div>
            </div>

            <div>
              <label for="about" class="block text-sm font-medium text-gray-700"> About </label>
              <div class="mt-1">
                <textarea id="about" name="about" rows="3"
                  class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 mt-1 block w-full sm:text-sm border border-gray-300 rounded-md"
                  formControlName="about" placeholder="Exemple: Il est souriant , a deux enfants , ... "></textarea>
              </div>
              <p class="mt-2 text-sm text-gray-500">Petit description du nouveau doctorant</p>
            </div>

          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit"
              class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enregistrer</button>
          </div>
        </div>
      </div>

      <div class="md:col-span-2">
        <div class="px-10 py-4 space-y-4 font-medium text-gray-600" *ngIf="informationPreview$ | async as info">

          <div class="space-y-2">
            <p>Telephone : {{ info.telephone }}</p>
          </div>


          <div class="space-y-2">
            <p>Boursier ? : {{ info.isBoursier ? 'Boursier' : 'Non Boursier' }}</p>
          </div>


          <div class="space-y-2">
            <p>Taux Bourse : {{ info.tauxBourse }} %</p>
          </div>


          <div class="space-y-2">
            <p>Date d'inscription: {{ info.createdAt | date: 'à HH:mm, le d MMMM yyyy' }}</p>
          </div>

          <div class="space-y-2">
            <p>Poste Actuelle : {{ info.poste }} </p>
          </div>


          <div class="space-y-2">
            <p>IM : {{ info.im }}</p>
          </div>

          <div class="space-y-2">
            <p class="italic font-normal">" ... {{ info.about }} "</p>
          </div>

        </div>
      </div>

    </div>
  </div>
  <!--fin blpock 1 -->
</form>
