<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : '' ">
  <div class="logo-container">
    <button title="logo" class="logo" (click) = "toggleCollapse()">A</button>
    <div class="logo-text" *ngIf="collapsed">ADMIN</div>
    <button title="close" class="btn-close" *ngIf="collapsed" (click) = "closeSidenav()">
      <i class="fa-solid fa-xmark"></i>
    </button>
  </div>
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link"
          (click)="handleClick(data)"
          *ngIf="data.items && data.items.length > 0"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"> {{ data.label }} </span>
          <i *ngIf="data.items && collapsed" class="menu-collapse-icon"
            [ngClass]="!data.expended ? 'fa fa-angle-right' : 'fa fa-angle-down'"
          ></i>
        </a>

        <a class="sidenav-nav-link"
          *ngIf="!data.items || (data.items && data.items.length === 0)"
          [routerLink]="[data.routerLink]"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
        >
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed"> {{ data.label }} </span>
        </a>
        <div
          *ngIf="collapsed && data.items && data.items.length > 0"  @fadeInOut
        >
          <app-sublevel-menu
            [data]="data"
            [collapsed]="collapsed"
            [multiple]="multiple"
            [expended]="data.expended"
          >
          </app-sublevel-menu>

        </div>
    </li>
  </ul>
</div>
