<ul *ngIf="collapsed && data.items && data.items.length > 0"
[@submenu]="expended ? 'visible' : 'hidden'"
class="sublevel-nav"
>
  <li *ngFor="let item of data.items" class="sublevel-nav-item">
    <a class="sublevel-nav-link"
      (click)="handleClick(item)"
      *ngIf="item.items && item.items.length > 0"
    >
      <i class="sublevel-link-icon fa-solid fa-circle"></i>
      <span class="sublevel-link-text" *ngIf="collapsed">{{ item.label }}</span>
      <i *ngIf="item.items && collapsed" class="menu-collapsed-icon"
         [ngClass]="!item.expended ? 'fa fa-angle-right' : 'fa fa-angle-down'"
      ></i>
    </a>
    <a class="sublevel-nav-link"
      *ngIf="!item.items || (item.items && item.items.length === 0)"
      [routerLink]="[item.routerLink]"
      routerLinkActive="active-sublevel"
      [routerLinkActiveOptions]="{exact: true}"
    >
      <i class="sublevel-link-icon fa-solid fa-circle"></i>
      <span class="sublevel-link-text" *ngIf="collapsed">{{ item.label }}</span>
    </a>
    <div *ngIf="item.items && item.items.length > 0">
      <app-sublevel-menu
        [data]="item"
        [collapsed]="collapsed"
        [multiple]="multiple"
        [expended]="item.expended"
      ></app-sublevel-menu>
    </div>
  </li>

</ul>
