<div class="formFormation">


<h1 class="text-3xl mb-12" >Rediger ici toutes informations concernant le nouveau Formation .</h1>


<!-- // DEBUT FORM EDIT DE FORATION -->
<div>
  <div class="md:grid md:grid-cols-4 md:gap-6">
    <div class="mt-5 md:mt-0 md:col-span-2">
      <form [formGroup]="formationForm">
          <div class="shadow bg-white rounded-lg sm:rounded-md sm:overflow-hidden">

            <div class="px-4 py-5 space-y-6 sm:p-6">
              <div class="grid grid-cols-6 gap-6">

                  <div class="col-span-6 sm:col-span-3">
                    <label for="formationTitle" class="block text-sm font-medium text-gray-700">Titre du Formation *</label>
                    <input type="text" name="formationTitle" id="formationTitle" autocomplete="off" formControlName="title" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  </div>

                  <div class="col-span-3 sm:col-span-6">
                    <label for="other" class="block text-sm font-medium text-gray-700">Description du nouveau Formation *</label>


                    <textarea class="outline-0 border-0" title="others" name="" id="" cols="60" rows="10"
                    formControlName="description"
                    ></textarea>

                    <!-- <editor
                      formControlName="others"
                      apiKey="ogzucabofnjrif7c0mmh2v268icn9689t7t33sfvq5v1al4f"
                      [init]="{ plugins: 'lists link image table code help wordcount' }"
                      id="other"
                      outputFormat="text"
                    ></editor> -->


                  </div>

                  <div class="col-span-6 sm:col-span-5">
                    <label for="profResponsable" class="block text-sm font-medium text-gray-700">Prof Responable *</label>
                    <input type="text" name="profResponsable" id="profResponsable" autocomplete="off" formControlName="responsible" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
                  </div>

              </div>
            </div>

            <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
              <div class="inline-flex justify-center py-2 px-4 "> 
                <input (change)="uploadImage($event)"
                id="input-pdp-course" formControlName="pdp" class="hidden" title="pdp" type="file" src="" alt="">
                <label for="input-pdp-course" class="btn bg-indigo-600 p-2 text-sm font-medium text-white rounded-md cursor:pointer">Ajouter photo</label>
              </div>
              <button type="submit" (click)="onSubmitFormation()" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Enregistrer</button>
            </div>

          </div>
     </form>
    </div>


    <!-- Previsualisation du Formation  -->
    <div class="mt-5 md:mt-0 md:col-span-2" *ngIf="formationPreview$ | async as formation">
      <h1 class="text-3xl p-12">{{ formation.title }}</h1>



      <div id="ids" class="p-12">

        <img *ngIf="imageSaved" width="300px" style="float:left; padding:15px;" src={{pdpBase64}} alt="photo-new-course">
        
        {{ formation.description }}

      </div>

      <div class="float-right p-12 ">
        <em>
          {{ formation.responsible }}
        </em>
      </div>


    </div>



  </div>
</div>


</div>
