<div class="p-courses">


  <div class="pb-16">
    <div class="container m-auto px-6 text-gray-600 md:px-12 xl:px-6">
      <div class="mb-12 space-y-2 text-center">
        <!-- <span class="block w-max mx-auto px-3 py-1.5 border border-green-200 rounded-full bg-green-100 text-green-600">Les Formations</span> -->
        <h2 class="text-2xl text-cyan-900 font-bold md:text-4xl">Les Formations de l'EAD</h2>
        <!-- <p class="lg:w-6/12 lg:mx-auto">Quam hic dolore cumque voluptate rerum beatae et quae, tempore sunt, debitis dolorum officia aliquid explicabo? Excepturi, voluptate?</p> -->
      </div>

      <div class="grid gap-12 lg:grid-cols-2 grp_course">

        <div *ngFor="let course of courses"  class="p-1 rounded-xl group sm:flex space-x-6 bg-white 
        bg-opacity-50 shadow-xl hover:rounded-2xl
        ">
          <img
            src={{course.image}}
            alt="art cover" loading="lazy" width="1000" height="667"
            class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl hover:scale-105 transition duration-500 ease-in-out">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">{{course.title}}</h4>
                <p class="text-gray-600">{{course.description}}</p>
              </div>
              <p>
                Responsable : <a href="www.tailus.io" class="text-cyan-600">{{course.responsible}}</a>
              </p>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>
        <!-- <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white 
                    bg-opacity-50 shadow-xl hover:rounded-2xl
                    ">
          <img src="https://th.bing.com/th/id/R.8864e5f202209ea2e7391f519d96003e?rik=fXphrAYd3jq76g&riu=http%3a%2f%2fwww.hauts-de-france.ars.sante.fr%2fsystem%2ffiles%2f2018-04%2fSTSS+1.png&ehk=Bat1Xfifbq8CFH0Q%2fAZ1tQ8nEvV3xgvOT%2f7prrhM3rk%3d&risl=&pid=ImgRaw&r=0" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl hover:scale-105 transition duration-500 ease-in-out">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>

        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://th.bing.com/th/id/R.964876ad1991928651a924ca356c76b8?rik=4lXgDV14inUNYw&riu=http%3a%2f%2fextranet.santemonteregie.qc.ca%2fuserfiles%2fimage%2fsante-publique%2fpromotion-prevention%2fN2-180-Promotion-prevention.jpg&ehk=GLChut8KZeTxEtnoUsTWs1PR1N2mMMJvltuwNGdh8Vo%3d&risl=&pid=ImgRaw&r=0" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div> -->

        <!-- <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://th.bing.com/th/id/R.f52a72b3723a1073ef558ea5a9c97582?rik=YR%2fy9FhjqW%2b1Aw&pid=ImgRaw&r=0" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>

        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://th.bing.com/th/id/R.789df646f5d2a448c18eb34e555f8ebb?rik=gxv72hFxEIVgog&pid=ImgRaw&r=0" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div> -->
<!-- 
        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://th.bing.com/th/id/R.cee9ab44a08ed822b87251eb3d536b78?rik=TLr2jRZec%2b49ig&pid=ImgRaw&r=0" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div>

        <div class="p-1 rounded-xl group sm:flex space-x-6 bg-white bg-opacity-50 shadow-xl hover:rounded-2xl">
          <img src="https://cdn.futura-sciences.com/buildsv6/images/wide1920/5/c/2/5c2a97eb4a_115244_02-869.jpg" alt="art cover" loading="lazy" width="1000" height="667" class="h-56 sm:h-full w-full sm:w-5/12 object-cover object-top rounded-lg transition duration-500 group-hover:rounded-xl">
          <div class="sm:w-7/12 pl-0 p-5">
            <div class="space-y-2">
              <div class="space-y-4">
                <h4 class="text-2xl font-semibold text-cyan-900">Provident de illo eveniet commodi fuga fugiat laboriosam expedita.</h4>
                <p class="text-gray-600">Laborum saepe laudantium in, voluptates ex placeat quo harum aliquam totam, doloribus eum impedit atque! Temporibus...</p>
              </div>
              <a href="www.tailus.io" class="block w-max text-cyan-600">Read more</a>
            </div>
          </div>
        </div> -->



      </div>
    </div>
  </div>





</div>