<div class="md:grid md:grid-cols-4 md:gap-6">

    <div class="md:col-span-3 table-list scrollbar scrollbar-thin overflow-y-auto">

      <input class="min-w-full p-2 my-1 rounded outline-none" type="text" name="" id="" placeholder="Rechercher">

      <table class="min-w-full">

        <thead class="bg-white border-b sticky top-0 drop-shadow-md">
          <tr>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              #ID
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Nom
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Niveau
            </th>
            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
              Specialite
            </th>
          </tr>
        </thead>



        <tbody>





          <tr *ngFor="let user of users" class="bg-white border-b transition duration-300 ease-in-out click:bg-gray-400 hover:bg-gray-100">

                <button title="btn1" routerLink="profil/1">
                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    {{ user.id }}
                  </td>
                </button>

                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <button title="btn1" routerLink="profil/1">
                    {{ user.name }}
                  </button>
                </td>

                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <button title="btn1" routerLink="profil/1">
                      {{ user.email }}
                    </button>
                  </td>

                  <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                      <button title="btn1" routerLink="profil/1">
                      {{ user.email }}
                    </button>
                  </td>

            </tr>


          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">2</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Jacob
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Thornton
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @fat
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

          <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">3</td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Larry
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              Wild
            </td>
            <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
              @twitter
            </td>
          </tr>

        </tbody>

        </table>

    </div>


      <div class="md:col-span-1 hidden lg:block dark:border-gray-700 border-t lg:border-t-0 lg:border-r lg:border-l lg:rounded-r dark:bg-gray-700 bg-gray-100">

          <!-- <app-resume></app-resume> -->
        <router-outlet></router-outlet>
      </div>


</div>
