<div class="pt-12 flex flex-col items-center lg:flex-row space-x-8 justify-center ">



  <div class="flex flex-col py-4 w-4/5 lg:w-2/5 mt-10 space-y-8">

        <div class="flex flex-row items-center space-x-8">
            <!-- <picture></picture> not supported by internet explorer -->
            <div class="h-40 w-40 min-h-40 min-w-40 border-solid border-2 border-green-600 pdp" style="background-image:url({{cardImageBase64 != undefined ? cardImageBase64 : './assets/profils/default_profil_female.jpg'}})" >
            </div>
            <div class="flex flex-col space-y-3">
                <form>
                  <input (change)="uploadImage($event)"
                    id="input-pdp" formControlName="pdp" class="hidden" title="pdp" type="file" src="" alt="">
                  <label for="input-pdp" class="btn bg-indigo-600 p-2.5 text-white rounded-md cursor:pointer">Changer de photo</label>
                </form>

                <button
                (click)="onUpdateProfil()"
                class="flex flex-row items-center space-x-2 p-2 drop-shadow-lg rounded-md border-solid border-2 border-gray-400 font-semibold ">
                    <p>Modifier ce profil</p>
                </button>
            </div>
        </div>

        <p class="font-medium text-xs text-gray-500">Ajoutez votre photo. La taille recommandee est 256*256px</p>

        <div class="border space-y-4 p-4 w-full rounded-md">
            <div class="flex flex-col">
                  <p class="font-semibold text-3xl text-gray-700">{{ user.name +' '+ user.firstName }}</p>
                  <span class="text-xs inline-block my-2 py-1 px-8 leading-none
                  text-center whitespace-nowrap align-baseline font-bold
                  {{ user.role === 'doctorant' ? 'bg-green-500' : ( user.role === 'prof' ? 'bg-blue-600' :  'bg-purple-600')  }}
                  text-white rounded-full">
                  {{ user.role === 'doctorant' ? 'Doctorant' : ( user.role === 'prof' ? 'Professeur' : 'Administrateur') }}
                </span>
            </div>
            <div class="flex flex-col space-y-2">
                <p class="font-normal text-xl text-gray-600">Date de naissance : {{ user.dateOfBirth }}</p>
                <p class="text-xl text-gray-600"> Poste : {{ user.poste }} </p>
                <p class="text-xl text-gray-600"> Email : {{ user.email }} </p>
                <p class="text-xl text-gray-600"> Adresse : {{ user.adress }} </p>
            </div>
        </div>

    </div>

    <div class="float-right p-4 w-full lg:w-2/5 mt-1 space-y-3 py-4 mt-14">
        <h1 class="font-semibold text-3xl text-gray-700 uppercase">Profil  {{ role }} </h1>
        <p>
            {{ user.about }}
        </p>
        <hr class="py-2">
        <div>
          <p>IM : {{ user.im }}</p>
        </div>

        <div>
          <p>Inscrit le :  {{ user.createdAt }} </p>
        </div>

        <div>
          <p>{{ user.email }}</p>
        </div>

        <div>
          <p>Domicile : {{ user.adress }}</p>
        </div>

        <div>
          <p>Status : {{ user.isBoursier ? 'Boursier' : 'Non boursier' }} {{ user.isBoursier ? user.tauxBourse : '' }}, {{ user.codeDoubling }}</p>
        </div>

        <div>
          <p>CIN : {{ user.cin }}</p>
        </div>
        <div>
          <p>Genre : {{ user.gender }}</p>
        </div>
        <div>
          <p>Pays de naissance : {{ user.nationality }}</p>
        </div>

        <div>
          <p>Serie Baccalaureat : {{ user.serieBacc }} , {{ user.yearBacc }}</p>
        </div>

    </div>




</div>
