<div class="pt-12 flex flex-col items-center lg:flex-row space-x-8 justify-center ">



  <div class="flex flex-col py-4 w-4/5 lg:w-2/5 mt-10 space-y-8">

        <div class="flex flex-row items-center space-x-8">
            <!-- <picture></picture> not supported by internet explorer -->
            <div class="h-40 w-40 min-h-40 min-w-40 border-solid border-2 border-indigo-600 pdp" style="background-image:url({{cardImageBase64 !== undefined ? cardImageBase64 : './assets/profils/default_profil_female.jpg'}})" >
            </div>
            <div class="flex flex-col space-y-3">
                <form>
                  <input (change)="uploadImage($event)"
                    id="input-pdp" formControlName="pdp" class="hidden" title="pdp" type="file" src="" alt="">
                  <label for="input-pdp" class="btn bg-indigo-600 p-2.5 text-white rounded-md cursor:pointer">Changer de photo</label>
                </form>
<!--
                <button class="flex flex-row items-center space-x-2 p-2 drop-shadow-lg rounded-md border-solid border-2 border-gray-400 font-semibold ">

                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>

                    <p>Supprimer</p>
                </button> -->
            </div>
        </div>

        <p class="font-medium text-xs text-gray-500">Ajoutez votre photo. La taille recommandee est 256*256px</p>

        <div class="border space-y-4 p-4 w-full rounded-md">
            <div class="flex flex-col">
                  <p class="font-semibold text-3xl text-gray-700">{{ user.name +' '+ user.firstName }}</p>
                  <span class="text-xs inline-block py-1 px-2.5 leading-none
                  text-center whitespace-nowrap align-baseline font-bold
                  {{ user.role === 'doctorant' ? 'bg-green-500' : ( user.role === 'prof' ? 'bg-blue-600' :  'bg-purple-600')  }}
                  text-white rounded-full">
                  {{ user.role === 'doctorant' ? 'Doctorant' : ( user.role === 'prof' ? 'Professeur' : 'Administrateur') }}
                </span>
            </div>
            <div class="flex flex-col space-y-1">
                <p class="font-normal text-xl text-gray-600">Age 21 ans</p>
                <p class="text-xl text-gray-600"> Poste : CHU Mahajanga  </p>
                <p class="text-xl text-gray-600"> Email : ansarollmg@gmail.com </p>
            </div>
        </div>

    </div>

    <div class="float-right  w-4/5 lg:w-2/5 mt-1 space-y-4 py-4 mt-10">
        <h1 class="font-semibold text-3xl text-gray-700 uppercase">Profil  {{ role }} </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Ipsum, exercitationem atque asperiores ullam perspiciatis
          quam, vel
          odit impedit fugit est suscipit tenetur eligendi mollitia. Facilis officiis error voluptates asperiores architecto iste tempora repudiandae illum sequi incidunt molestiae, laboriosam dicta
          doloribus tenetur, similique voluptate! Sit, veritatis at. Cum odit corporis pariatur.
        </p>

        <div>
          <p>IM : 905 47 4343 3423</p>
        </div>

        <div>
          <p>ansarollmg.gmail.com</p>
          <p>Domicile : Mahajanga Lot 34MH/bis</p>
        </div>

    </div>




</div>
