
<!-- This is an example component 
    Instagram: ccornejo__ -->
    <!-- <div class='grid grid-cols-12'>
        <div class="col-span-4 text-white font-sans font-bold bg-bl min-h-screen pl-7">
            <div class="grid grid-rows-6 grid-flow-col min-h-screen items-center justify-items-start">
              
                <h1 class="text-2xl">Environnement Numerique de Travail <br> ED SVS</h1>

              
                <form  class="row-span-4 row-start-2 text-4xl">               
                    <div>
                        Se Connecter                  
                        <div class="pt-10 pr-20">                        
                            <label class=" text-sm font-sans font-medium">
                                Matricule
                            </label>
                            <input 
                                type="text" 
                                name="username" 
                                placeholder="Ecrire votre Matricule" 
                                class="w-full bg-black py-2.5 px-12 border hover: border-gray-500 rounded shadow text-base font-sans"/>                            
                        </div>
                        <div class="pt-2 pr-20">
                            <label class="text-sm font-sans font-medium">
                                Mot de Passe
                            </label>
                            <input 
                                type="password" 
                                name="password" 
                                placeholder="Ecrire votre mot de passe" 
                                class=" w-full bg-black py-2.5 px-12 border hover: border-gray-500 rounded shadow text-base font-sans"/>
                            <a href="" class="text-sm font-sans font-medium text-gray-600">
                                Mot de passe Oublié ?
                            </a>
                        </div>
                       Button -->
                        <!-- <div class="text-sm font-sans font-medium w-full pr-20 pt-14">
                            <button 
                                type="submit"   
                                class="text-center w-full py-4 bg-blue-700 hover:bg-blue-400 text-xl rounded-md text-white">
                                    Se connecter
                            </button>
                        </div>
                    </div>
                </form>     -->

                <!-- Text -->
                <!-- <a href="" class="text-sm font-sans font-medium text-gray-400 underline">
                    Vous n'avez pas de compte , contacter nous . 
                </a>
            </div>         
        </div> -->

        <!-- Second column image -->
        <!-- <div class="banner col-span-8 text-white font-sans font-bold">
            Aquí iría algún comentario -->
        <!-- </div>    
</div> -



<style>
    .banner {
        background: url( 'https://s1.1zoom.me/b6058/448/Dogs_Svetlana_Shelemeteva_Hug_Little_girls_568770_1920x1080.jpg' );
        background-repeat: no-repeat;
        background-size: cover        
    }
</style> -->


<!-- component -->
<!-- Create By Joker Banny -->
<div class="min-h-screen bg-no-repeat bg-cover bg-center">

	<div class="md:flex">

        <div class=" hidden md:flex md:w-1/2 md:justify-center xl:justify-end items-center ">
            <div class="pl-8 p-8 xl:mt-12 xl:p-16 xl:w-4/5">
                <img class="rounded-md flex justify-end items-center" src="https://inspc.mg/wp-content/uploads/2021/06/photo.jpg" alt="" srcset="">
            </div>
        </div>

		<div class="bg-white min-h-screen md:w-1/2 p-4 md:pl-4 xl:pl-16 flex justify-center md:justify-start items-center">
			<div>
				<form>
					<div class="flex justify-center items-center">
						<div>
                            <div class="flex justify-between">
                                <img src="./assets/images/ua.png" alt="" srcset="">
                                <img class="h-24 text-center w-auto" src="./assets/images/svs.png" alt="" srcset="">

                            </div>
                            <!-- <span class="text-sm text-gray-900">Bienvenue </span> -->
                           
                            <h1 class="text-2xl font-bold ">Connecter votre compte</h1>
                        </div>
					</div>
					<div class="mt-5">
						<label class="block text-md mb-2" for="password">Mot de passe</label>
						<input class="px-4 w-full border-2 py-2 rounded-md text-sm outline-none" type="password" name="password" placeholder="mot de passe">
                    </div>
					<div class="my-3">
							<label class="block text-md mb-2" for="email">Email</label>
							<input class="px-4 w-full border-2 py-2 rounded-md text-sm outline-none" type="email" name="password" placeholder="email">
                    </div>
					<div class="flex justify-center">
							<!-- <div>
								<input class="cursor-pointer"  type="radio" name="rememberme">
								<span class="text-sm"> Me</span>
							</div> -->
								<span class="text-sm text-blue-700  hover:underline cursor-pointer">Mot de passe oublié ?</span>
					</div>
					<div class="">
						<button class="mt-4 mb-3 w-full bg-green-500 hover:bg-green-400 text-white py-2 rounded-md transition duration-100">Se Connecter</button>
						<div class="flex  space-x-2 justify-center items-end bg-gray-700 hover:bg-gray-600 text-white py-2 rounded-md transition duration-100">
                            <img class=" h-5 cursor-pointer" src="https://i.imgur.com/arC60SB.png" alt="">
                            <button >Ou connecter avec google</button>
					    </div>
				    </div>
				</form>

				<p class="mt-8"> Pas de compte ? <span class="cursor-pointer text-sm text-blue-600"> Contacter l'Ecole </span></p>
			</div>
		</div>
	</div>
</div>